$main-color-white: whitesmoke;
$main-color-blue: lightskyblue;
$main-color-grey: #313131;
$main-font1: 'Cinzel', serif;
$main-font2: 'Open Sans', sans-serif;

@mixin w90-mauto {
    width: 90%;
    margin: auto;
}

main {
    color: $main-color-white;

    grid-area: main;

    h1 {
        margin-top: 40px;
        font-family: $main-font1;
        font-weight: 300;
        font-size: 1.5em;
        text-align: center;
    }
    p {
        font-family: $main-font2;
        font-size: 0.85em;
        text-align: justify;
    }
    h2 {
        font-size: 1em;
        font-family: $main-font2;
        color: $main-color-blue;
    }
    h3 {
        text-align: center;
        font-family: $main-font2;
    }
    #descripcion-juego {
        @include w90-mauto();

        video {
            @include w90-mauto();
            display: block;
        }
    }
    #mas-info {
        @include w90-mauto();
    }
    #caracteristicas-juego {
        @include w90-mauto();

        ul {
            list-style-type: circle;

            li {
                font-family: $main-font2;
                margin: 5px 0;
            }
        }
    }
    #subtitle-actualizaciones {
        @include w90-mauto();

        p {
            text-align: center;
        }
    }
    .elemento-actualizacion {
        @include w90-mauto();
        margin-top: 30px;
        margin-bottom: 20px;

        p {
            margin-bottom: 20px;
        }

        h2 {
            font-family: 'Cinzel', serif;
        }

        div {
            @include w90-mauto();
        }

        img {
            display: block;
            margin: auto;
        }
    }
    #tc-section {
        margin-top: 20px;
    }
    #silksong {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;

        h2 {
            font-family: $main-font1;
        }

        div {
            @include w90-mauto();
            margin-top: 20px;
        }
    }
    #hidden-dreams {
        margin-bottom: 20px;
    }
    #newsletter {
        width: 90vw;
        margin-top: 20px;
        margin-bottom: 50px;

        h5 {
            color: $main-color-blue;
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 1em;
        }
    }
    #carousel {
        @include w90-mauto();
    }
}

#submit-btn {
    border: grove 2px $main-color-grey;
}

// Tablas - Personajes y amuletos
.tabla {
    width: 90%;
    margin: 50px auto;
    border: groove 2px $main-color-grey;

    display: flex;
    flex-flow: column nowrap;

    .grid-row-head {
        width: 100%;
        font-size: 1.2em;

        display: none;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        p {
            margin: 10px 0;
            font-family: $main-font1;
            color: grey;
        }

        div {
            border: groove 3px $main-color-grey;
            height: 100%;
        }
    }

    .grid-row {
        width: 100%;
        border: groove 2px $main-color-grey;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        div {
            height: 100%;
        }
    }

    .grid-row-charm {
        width: 100%;
        border: groove 3px $main-color-grey;
        padding-top: 10px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .columna-nombre {
            width: 40%;

            p {
                margin: 10px 0 10px 0;
                font-family: $main-font2;
                color: $main-color-blue;
                text-align: center;
            }
        }

        .columna-descrip {
            width: 60%;
            min-height: 100%;
        }
    }
}

.columna-nombre {
    margin: 0;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    p {
        margin: 5px 0 10px 0;
        font-family: $main-font1;
        color: $main-color-blue;
    }
}

.columna-descrip {
    margin: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: 85%;
        text-align: center;
    }
}

// Team Cherry
#texto-tc {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

.tc-crew {
    @include w90-mauto();

    display: flex;
    flex-flow: row nowrap;
}

#tc-crew-reverse {
    @include w90-mauto();

    display: flex;
    flex-flow: row-reverse nowrap;
}

.tc-desc {
    text-align: justify;
    width: 90%;
    margin-left: 1em;
}
